/* login page */
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Cambria';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #022C43
        /* background: #85ADBE; */
        /* background: url('images/wallpaper.avif') no-repeat; */
        /* background-size: cover; */
}

.wrapper {
    width: 550px;
    height: 440px;
    border-radius: 15px;
    /* background: #BE9685; */
    background: #FFD700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #022C43;
    border-radius: 40px;
    font-size: 16px;
    color: #053F5E;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: dimgray;
    font-style: italic;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper button {
    width: 165px;
    height: 40px;
    color: #FFD700;
    background: #053F5E;
    border: none;
    border-radius: 40px;
    outline: none;
    position: relative;
    left: 60px;
    bottom: 15px;
    transform: translateY(100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}