/* upload button */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Cambria';
    background-color: #BE9685;
}

/* File Explorer styles */
#goToUploadButton {
    margin-bottom: 20px;
    background-color: #85ADBE;
    color: black;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#fileList {
    list-style-type: none;
    padding: 0;
}

#fileList button {
    margin-bottom: 10px;
    background-color: #85ADBE;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#fileList li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#fileList input[type="checkbox"] {
    margin-right: 10px;
}
